<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team - EditPhoto</title>
    <link rel="stylesheet" href="../static/Team.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Meet Our Team</h1>
        </header>
        <section class="team">
            <div class="team-member">
                <img src="../static/mayank.jpg" alt="Team Member 1">
                <div class="member-info">
                    <h2>Mayank Rai</h2>
                    <p>Full Stack Developer</p>
                    <p>Skilled in developing robust, scalable applications from the frontend to the backend, ensuring end-to-end functionality and performance</p>
                </div>
            </div>
            <div class="team-member">
                <img src="../static/Saurabh.jpg" alt="Team Member 2">
                <div class="member-info">
                    <h2>Saurabh Yadav</h2>
                    <p>Full Stack Developer</p>
                    <p>Experienced in both frontend and backend development, proficient in a wide range of technologies and frameworks.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
